@charset "utf-8";

/*全体共通*/
body {
    background-color: #00BB00;
  }
  /*ヘッダー*/
  header {
    color: #ffffff;
  }
  header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    padding: 20px 0;
  }
  header .logo {
    font-size: 50px;
    font-weight: 700;
  }
  header nav ul {
    font-size: 20px;
    font-weight: 600;
    display: flex;
  }
  header nav ul li {
    margin-left: 50px;
  }

  header nav ul li a {
    transition: .2s;
  }
  header nav ul li a:hover {
    transition: .2s;
    opacity: 0.6;
  }
  
  
 
 
  /*トップページメインビジュアル*/
  /*.main_visual .slide {
    
    background-size: cover;
    background-position: center ;
    position: relative;
  }
  .main_visual .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    height: 640px;
    position: relative;
  }
  .main_visual .title {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 2;
  }*/

 
  

  
  
  /* トップページセクション */
  .section1 {
    color: #ffffff;
    padding: 80px 0;
  }
  .section1 .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
  }
  .section1 .row {
    display: flex;
    justify-content: space-between;
  }
  .section1 .col {
    width: 48%;
  }
  .section1 .sub_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .section1 h2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.6;
  }
  .section1 .text {
    font-size: 17px;
    font-weight: 700;
    line-height: 2.0;
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .btn {
    font-size: 18px;
    border: solid 1px #ffffff;
    border-radius: 100px;
    display: inline-block;
    width: 270px;
    line-height: 60px;
    text-align: center;
    transition: .2s;
  }
  .btn:hover {
    color: #60188f;
    border: solid 1px #60188f; 
    transition: 0.2s;
  }
  


  
  /* トップページセクション➁ */
  .section2 {
    color: #ffffff;
    padding: 80px 0;
  }
  .section2 .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
  }
  .section2 .sub_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .section2 h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .section2 .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .section2 .col {
    font-size: 16px;
    font-weight: 700;
    width: 31%;
    position: relative;
  }
  .section2 img {
    border-radius: 30px;
    width: 400px;
    height: 270px;
    margin-right: 60px;

  }
  .section2 h3 {
    background-color: #FFA500;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 55%;
    transform: translateX(-50%);
    padding: 6px 10px;
    border-radius: 10px;
  }
  .section2 .center {
    text-align: center;
  }

 


   
  /* トップページセクション➂ */
   .section3 {
    color: #ffffff;
    padding: 80px 0;
  }
  .section3 .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
  }
  .section3 .sub_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .section3 h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .section3 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section3 .col {
    width: 40%;
    
  }
  .section3 .text {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 50px;
  }
  .section3 img {
    border-radius: 20px;
    
    margin-left: 10px;
    
    
  }

 

  
  /* フッター全ページ共通 */
  footer {
    color: #ffffff;
    text-align: center;
    font-size: 20px;
  }
  footer .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    border-top: solid 1px #ffffff;
    padding: 50px 0 20px;
  }
  footer .logo {
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 40px;
  }
  footer ul {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
  }
  footer ul li {
    font-size: 20px;
    font-weight: 700;
    margin: 0 20px;
  }
  footer ul li a {
    transition: .2s;
  }
  footer ul li a:hover {
    transition: .2s;
    opacity: 0.6;
  }

  
  
  /*会社案内メインビジュアル*/
  .page_main_visual {
    background-image: url('../images/mv19.jpg');
    background-size: cover;
    background-position: center ;
    position: relative;
  }
  .page_main_visual .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    height: 640px;
    position: relative;
  }
  .page_main_visual .title {
    position: absolute;
    bottom: 150px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  .page_main_visual h1 {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .page_main_visual p {
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
  }

  
  /* 会社案内セクション➀ */
  .company_section1 {
    color: #ffffff;
    padding: 90px 0;
  }
  .company_section1 .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px;
  }
  .company_section1 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
  .company_section1 .col {
    width: 45%;
  }
  .company_section1 img {
    border-radius: 20px;
    height: 380px;
    width: 110%;
 }
 .company_section1 table {
    width: 100%;
  }
  .company_section1 table tr  {
    padding: 20px 0;
    display: block;
    border-bottom: solid 1px #ffffff;
    line-height: 1.5;
  }
  .company_section1 table tr th {
    width: 150px;
  }


  
  /*事業内容メインビジュアル*/
  .page_main_visual2 {
    background-image: url('../images/mv46.jpg');
    background-size: cover;
    background-position: center ;
    position: relative;
  }
  .page_main_visual2 .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1280px;
    height: 640px;
    position: relative;
  }
  .page_main_visual2 .title {
    position: absolute;
    bottom: 150px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }
  .page_main_visual2 h1 {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
  }
  .page_main_visual2 p {
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
  }


  /* 事業内容セクション➀ */
  .service_section1 {
    color: #ffffff;
    padding: 80px 0;
  }
  .service_section1 .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
  }
  .service_section1 .sub_title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .service_section1 h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .service_section1 .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }
  .service_section1 .col {
    width: 48%;
  }
  .service_section1 .text {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 50px;
  }
  .service_section1 img {
    border-radius: 20px;
    margin-left: 100px;
    
  }



/*お問い合わせメインビジュアル*/
.page_main_visual3 {
  background-image: url('../images/mv43.jpg');
  background-size: cover;
  background-position: center ;
  position: relative;
}
.page_main_visual3 .container {
  width: 90%;
  margin: 0 auto;
  max-width: 1280px;
  height: 640px;
  position: relative;
}
.page_main_visual3 .title {
  position: absolute;
  bottom: 150px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.page_main_visual3 h1 {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 10px;
}
.page_main_visual3 p {
  font-size: 40px;
  font-weight: 500;
  color: #ffffff;
}


  /* お問い合わせセクション➀ */
  .contact_section1 {
    color: #ffffff;
    padding: 80px 0;
  }
  .contact_section1 .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1280px;
  }



  
  
  
  /*=== 画像の表示エリア ================================= */
 .slide {
   position   : relative;
   overflow   : hidden;
                     /* 画像のサイズに合わせて変更ください */
        /* サンプルは中央寄せの背景：白 */
   background : #fff;
   width: 100%;
    max-width: 1550px;
    height: 640px;
    object-fit: cover;
   
   
  }
 
  
  /*=== 画像の設定 ======================================= */
 .slide img {
   display    : block;
   position   : absolute;
                       /* 画像のサイズを表示エリアに合せる */
   width      : inherit;
   height     : inherit;
   opacity    : 0;
   animation  : slideAnime 15s ease infinite;
 }
  
  /*=== スライドのアニメーションを段差で開始する ========= */
 .slide img:nth-of-type(1) { animation-delay: 0s }
 .slide img:nth-of-type(2) { animation-delay: 5s }
 .slide img:nth-of-type(3) { animation-delay: 10s }
  
  /*=== スライドのアニメーション ========================= */
 @keyframes slideAnime{
    0% { opacity: 0 }
    15% { opacity: 2 }
   40% { opacity: 4 }
   55% { opacity: 0 }
  100% { opacity: 0 }
 }
 
